:root {
    --color1: #ffffff;
    --color2: #f5f5f5;
    --color3: rgb(15, 15, 15);
    --color4: rgb(95, 04, 170);
    --color5: #efa4a4;
    --color6: rgba(128, 128, 128, 0.25);
    --color7: rgba(245, 245, 245, 0.8);
    --color8: rgba(0, 0, 0, 0.9);
}

@font-face {
    font-family: "Montserrat";
    src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}

/********** RESET Paramètre généraux **********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
}

/* Dans la maquette tout les boutons ont le même style, réglages en communs ! */
button {
    background: transparent;
    outline: none;
    cursor: pointer;
    border: 1px solid var(--color2);
    color: var(--color1);
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.4s ease;
    cursor: pointer;
}

button:hover {
    color: var(--color3); 
    background: var(--color2);
}

a {
    text-decoration: none;
}

/* body */
/* Pour que tout soit centré au milieu */
body {
    margin: 0 auto;
    text-align: center;
}

/* navigation */
/* Ne doit pas s'étendre à l'infini */
nav {
    max-width: 1100px;
    margin: 0 auto;
}

/* Dans la navigation on s'occupe des ul */
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}

nav li {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
    padding: 20px 0;
}

/* Un effet lors du survole de la souris */
nav li:first-child {
    color: var(--color4);
}

nav li:first-child:before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background: var(--color4);
    transform: translateY(-20px);
}

/* Quand on survole un li */
nav li:hover:before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background: var(--color4);
    transform: translateY(-20px);
}

/* Quand on survole le dernier li */
nav li:last-child:before {
    background: none;
}
#language {
    background: var(--color6);
    border-radius: 50px;
    padding: 8px 16px;
}

/* header */
.main-header {
    background: url(./assets/img/bg.jpg) fixed center/cover;
    color: var(--color1);
    padding: 60px;
}

h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 30px 0 35px; /* en HAUT 30px, 0 GAUCHE/DROITE, 35px en BAS */
}

.main-header button {
    padding: 15px 30px; /* 15px en HAUT/BAS, 30px GAUCHE/DROITE */
    letter-spacing: 2px;
}

.header-text {
    padding: 45px 0; /* 45px en HAUT/BAS, 0 GAUCHE/DROITE */
    font-size: 1.2rem;
    /* Et pour éviter que le paragraphe s'étende, on ajoute un max-width ! */
    max-width: 1100px; /* 1100px de largeur max, l'élément qui est en block,  va se mettre à gauche et la marge se trouve à droite !  */
    /* ON AJOUTE UN MARGIN 0 AUTO !  */
    margin: 0 auto; /* Pour centrer le paragraphe */
    line-height: 34px; /* un peu plus d'écart entre les lignes */
}


/* section icon-part */
.icon-part {
    /*** Pour que le background il s'étende sur toute la largeur de la page et on ne met oas de max-width ici ! ***/
    background: var(--color3);
    padding: 65px 0;
    color: var(--color2);
}

.icon-part-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.lip-logo {
    margin-bottom: 30px;
}

.icon-part h3{
    text-transform: uppercase;
    font-weight: 700;
}

.icon-part p {
    width: 80%;
    margin: 10px auto 20px; /* 10px en HAUT, auto GAUCHE/DROITE, 20px en BAS */
}

.icon-part button {
    padding: 9px 32px; /* 9px en HAUT/BAS, 32px GAUCHE/DROITE */
}

.news-part {
    background: var(--color7);
    padding: 80px 0 45px; /* 80px en HAUT, 0 GAUCHE/DROITE, 45px en BAS */
}
/* Le header-news c'est le parent de "left-part" et "right-part" */
.header-news {
    display: grid;
    grid-template-columns: 70% 30%;
    max-width: 1000px;
    margin: 0 auto;
}
/* 1er enfant */
.left-part {
    line-height: 30px;
}

.left-part h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: left;
}

.left-part p {
    font-weight: 600;
    font-size: 0.9rem;
    text-align: left;
}

/* 2ème enfant */
.right-part button {
    color: var(--color3);
    border: 1px solid var(--color3);
    letter-spacing: 1px;
    padding: 10px 20px; /* 10px en HAUT/BAS, 20px GAUCHE/DROITE */
}

.right-part button:hover {
    background: var(--color8);
    color: var(--color2);
}

/* La partie main-news */
.main-news-container {
    display: flex;
    justify-content: space-around;
    /* Que ça ne s'étand pas jusqu'à l'infini ! */
    max-width: 1100px;
    margin: 45px auto;
}

/* On sélectionne un enfant direct */
/* On sélectionne tout les enfants direct de cette div */
.main-news-container > div {
    position: relative;
    width: 23%; 
}

.mn-pic img {
    object-fit: cover;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 10px #888;
}

.main-news-container h4 {
    margin: 15px 0; /* 15px en HAUT/BAS, 0 GAUCHE/DROITE */
    text-align: left;
}

.main-news-container p {
    text-align: left;
    font-size: 0.8rem;
    line-height: 20px;
    margin-bottom: 45px;
}

/* On va aligner en absolute les 3 liens avec aussi bottom : 0 */
.link {
    text-align: left;
    position: absolute;
    bottom: 0;
}

.main-news a {
    text-transform: uppercase;
    color: var(--color4);
    font-size: 0.7rem;
    letter-spacing: 1px;
    font-weight: 900;
}